* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    text-align: center;
    background-color: #000;
}
.nav-fundo{
    background-color: #00000089;
}

.cor-subnav {
    background-color: #00000000;
    color: #fff;
    width: 50%;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: -25px;
}

#footer {
    background-color: #000;
    color: #fff;
    padding: 10px;


}

#footer a {
    color: #62ff00;
    text-decoration: none;
}

.link{
    color: #62ff00;
}

#result{
    border: #62ff00 solid 1px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    background-color: #00000089;
    box-shadow: 0 0 10px rgba(98, 255, 0, 0.5);
    
}
